<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home1</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
    <div style="text-align:center" id='play'>
  
    <ion-button style="color: red" (click)='menu()'>Back to Menu</ion-button>
    </div>
   
<img (click)='fish1()' id='fish' style="float: right;height: 21%;" src="assets/icon/fish.png" alt="">
<img (click)='holo1()' id='holo'style="float: left;height: 21%;"src="assets/icon/holo.png" alt="">
<img (click)='shrimp1()' id='shrimp' style="float: right;height: 21%;"src="assets/icon/shrimp.png" alt="">
<img (click)='crab1()' id='crab' style="float: left;height: 21%;"src="assets/icon/crab.png" alt="">
<img (click)='deer1()' id='deer' style="float: right;height: 21%;"src="assets/icon/deer.png" alt="">
<img (click)='chicken1()' id='chicken' style="float: left;height: 21%;"src="assets/icon/chicken.png" alt="">

<h1 style="position: absolute;bottom: 4%; text-align:center">Your coin:{{this.coin}}</h1>

<ion-button style="color: red;position:absolute;bottom: 10%" (click)='roll()'>ROLL</ion-button>

<img style="height: 14.5%;" id='result' src="assets/icon/blank.png" alt="">
<img style="height: 14.5%;" id='result1' src="assets/icon/blank.png" alt="">
<img style="height: 14.5%;" id='result2' src="assets/icon/blank.png" alt="">
<ion-icon (click)='newplayer()' style="font-size: 500%;float:right" name="help"></ion-icon>
</ion-content>
