<ion-header>
  <ion-toolbar>
    <ion-title>testgame2</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <h1 (click)="start()" id='time' style="position:absolute; padding: 150px; text-align:center">05:00</h1>
    <img src="assets/icon/blank.png" alt="">
    <!-- <ion-button id='start' (click)='start()'>Start</ion-button> -->
    <!-- <ion-button id='pause' style="display:none" (click)='pause()'>Pause</ion-button>
    <ion-button id='resume' style="display:none" (click)='resume()'>Resume</ion-button> -->
  </div>
  </ion-content>
  